#pic1{
    width: 20%;
    padding: 20px;
    border: 1px solid black;
    margin: 1% 40% 0 40%;
}
#pic2{
    width: 20%;
    padding: 20px;
    border: 1px solid black;
    margin: 1% 40% 0 40%;
}
#pic3{
    width: 20%;
    padding: 20px;
    border: 1px solid black;
    margin: 1% 40% 0 40%;
}