.wrapper{
    display: flex;
}
.flex-container{
    height: 800px;
    flex-direction: column;
    align-content:space-between;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex-item{
    padding-top: 10px;
    text-align: center;
    height: 30%;
    width: 24%;
    background-color: #dddddd;
    border: 1px solid black;
}