body{
    
    background-image: url(/pics/fire.png) , url(/pics/pattern.png), url(/pics/blossom.jpg);
    background-position: center 30%, center center , center center;
    background-size: 200px, cover, cover;
    background-repeat: no-repeat, no-repeat, repeat;
    color:white;

}

h1{
    margin-right: -5px;
    margin-left: -5px;
    background-color: grey;
    font-size: 50px;
    text-align: center;
}

p{
    font-size: 20px;
}