* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #333;
  }
  h1 {
    text-align: center;
  }
  
  /* box */
  
  div {
    background-color: #f93;
    border: 1px solid #333;
    font-size: 2em;
    line-height: 150px;
    width: 400px;
    height: 150px;
    margin: 0 auto 2em;
    text-align: center;
  }

  div:first-child:hover{
      width:750px;
      background-color: lightblue;
  }

  div:first-child{
      transition: background-color 1s, width 2s;
  }

  div:nth-child(2):hover{
      width:500px;
      transform: rotate(360deg);
  }

  div:nth-child(2){
      transition: width 1s linear 1s, transform 3s;
  }

  div:nth-child(3):hover{
      transform: rotate(90deg) translate(100px,-400px);
  }

  div:nth-child(3){
      transition: transform 2s;
  }

  div:nth-child(4):hover{
      background-color: yellow;
      height: 400px;
      transform:translate(0,200px);
  }

  div:nth-child(4){
      transition: background-color 2s, height 3s ease 2s, transform 2s ease 3s;
  }