.div1{
    border:20px solid grey;
    background-color: #bbbbbb;
    width: 600px;
    height: 600px;
    margin: 10px auto;
}

.div2{
    width: 50%;
    height: 50%;
    background-color: rgba(255, 0, 0, 0.514);
    margin:0 75% 0 0;
}

.div3{
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 255, 0.466);
    margin:0 0 0 50%;
}